<!DOCTYPE html>
<html lang="en">


{% for product in products %}
    <div>
        <h3>{{product.name}}</h3><br>
        Description: <b>{{product.desc}}</b><br>
        Price : <i>{{product.price}}</i><br>

        <form action="/api/cart" method="post">
            <input type="text" name="op_type" value="delete" hidden>
            <input type="text" name="product_id" value="{{ product._id }}" hidden>
            <input type="submit" value="Remove from Cart">
        </form>

    </div>

{% endfor %}