<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Amazon</title>
</head>

<body>
    <h1> Welcome, {{value}} </h1>
    <h2>Search Product </h2>
    <form action="/api/product" method="get">
        <input type="text" name="name" placeholder="Name" required>
        <input type="submit" value="SEARCH">
    </form>
    <form action="/api/cart" method="post">
        <input type="text" name="op_type" value="retrieve" hidden>
        <input type="submit" value="View Cart">
    </form>
    <a href="/logout">Logout</a>
</body>
</html>