<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Amazon</title>
</head>
<body>
    <h1> {{message}} </h1>
    <h2>Login Here</h2>

    <form action="/api/users"  method="post">
        <input type="text" name="op_type" value="login" hidden>
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit" value="LOGIN" >

    </form>

        <h2>Sign Up</h2>

    <form action="/api/users"  method="post">
        <input type="text" name="op_type" value="signup" hidden>
        <input type="text" name="name" placeholder="Name" required><br>
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit" value="SIGN UP" >

    </form>


    </body>
</html>